/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* cf */
.cf:after {
    content: "."; display: block; clear: both; visibility: hidden;
    line-height: 0; height: 0; }
.cf { /*display: inline-block;*/ }
html[xmlns] .cf { display: block; }
* html .cf { height: 1%; }


/* FHP */

* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
body { font-family: Lato, sans-serif; color: #393937; line-height: 1.4; }

section {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    display: table-cell; vertical-align: middle;
    padding: 13% 20%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-position: 50% 50%; background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
}

section.current { opacity: 1; }

/* slides with lots of content (horizontally or vertically */
section.big { padding-top: 8%; padding-bottom: 5%; }
section.wide { padding-left: 8%; padding-right: 8%; }

/* first and last page */
section.intro { background: url(bg-dunkel.jpg); color: #ffffff; }

/* title pages, quotation pages */
section.title, section.quote { background: url(bg-hell.jpg); }

section.intro, section.title {
    text-align: center; padding-left: 8%; padding-right: 8%; }

section.title .marker {
    background-repeat: no-repeat; background-size: 100%;
    display: block; position: absolute; top: 50%; left: 50%;
    width: 6em; height: 6em; margin: -3em 0 0 -3em; }
section.n0 .marker { background-image: url(1-blau.png); }
section.n1 .marker { background-image: url(2-blau.png); }
section.n2 .marker { background-image: url(3-gruen.png); }
section.n3 .marker { background-image: url(4-gruen.png); }
section.n4 .marker { background-image: url(5-gelb-gruen.png); }
section.n5 .marker { background-image: url(6-gelb.png); }
section.n6 .marker { background-image: url(7-grau.png); }

/* pages with an image and an optional, overlaid title */
section.image { background-color: #333; }
section.image h1 {
    position: absolute; width: 100%; height: 1.5em; left: 0; top: 20%;
    padding: 0 30px; background: #eee; opacity: 0.5; }

/* inverse scheme for dark images */
section.image.dark { background-color: #eee; }
section.image.dark h1 { background: #333; color: #fff; }

/* move the title bar to the bottom */
section.image.bottom h1 { top: 70%; }


h1, h2, h3, h4, h5, h6 {
    font-weight: 900; /* black */ opacity: 0.6; }

/* headings on these pages should have a strong white or black */
.intro h1, .title h1 { opacity: 1; }
.intro p { margin-top: 2.5em; }

blockquote {
    font-weight: 700; font-style: italic; font-size: 270%;
    margin: 0 0 .3em 0; }
blockquote:before { content: '«'; }
blockquote:after { content: '»';}


h1 { font-size: 420%; }
h2 { font-size: 360%; }
h3 { font-size: 320%; }
h4 { font-size: 270%; }

strong { font-weight: bold; }
em { font-style: italic; }

p { font-size: 120%; }
ul, p { font-family: Georgia, serif; }
ol, ul, p { margin: .5em 0; }
li {
    font-size: 200%; line-height: 1.5; position: relative;
    padding: 0 0 0 50px; }

ol { font-weight: 700; /* bold */ }
ol li { padding-bottom: .5em; }

li .marker {
    background: url(plus-grau.png) 0 0 no-repeat;
    background-size: 100%;
    height: 1.2em; width: 1.2em; position: absolute;
    top: 5px; left: 0; display: block; }
ol li:nth-child(1) .marker { background-image: url(1-blau.png); }
ol li:nth-child(2) .marker { background-image: url(2-blau.png); }
ol li:nth-child(3) .marker { background-image: url(3-gruen.png); }
ol li:nth-child(4) .marker { background-image: url(4-gruen.png); }
ol li:nth-child(5) .marker { background-image: url(5-gelb-gruen.png); }
ol li:nth-child(6) .marker { background-image: url(6-gelb.png); }
ol li:nth-child(7) .marker { background-image: url(7-grau.png); }

li li { font-size: 80%; }
li li .marker, ol li li .marker { background-image: url(plus.png); }
li ul, li ol { margin-bottom: .2em; }
